[mysqld]

# Allow SELECT ... INTO OUTFILE
secure_file_priv=""

# Allow remote connections in lab
bind-address=0.0.0.0

# Reduce strict SQL restrictions for training
sql_mode=""

# Allow LOAD DATA INFILE
local_infile=1

# Symbolic links allowed (lab only)
skip-symbolic-links=0

[mysqldump]
quick
quote-names
max_allowed_packet=16M